/target/classes/org/boonbooth/BoonBoothApp.class
/target/classes/org/boonbooth/webcam/CameraController.class
/target/classes/CameraStreamApp$1.class
/target/classes/CameraStreamApp.class
/target/classes/org/boonbooth/configuration/Config.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/src/main/resources/fond_neutre.mp4
/target/classes/fond_neutre.mp4
/target/classes/org/boonbooth/utils/FrameListener.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/classes/org/boonbooth/utils/MatToImageConverter.class
/src/main/resources/TheFrightHouseDEMO.otf
/target/classes/TheFrightHouseDEMO.otf
/target/classes/video.mp4
/target/classes/org/boonbooth/video/VideoController.class
/target/classes/org/boonbooth/video/VideoPlayerService.class
/target/classes/org/boonbooth/webcam/WebcamService.class
/target/classes/org/boonbooth/configuration/YamlConfig.class
